*{
    box-sizing: border-box;
}
html{
    padding: 0;
}

body{
    font-family: 'roboto',sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dbe8eb;
}
h1{ font-size: 3.5em;}
h2{ font-size: 2.2em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{list-style: none;}

.contenedor{
    max-width: 720px;
    margin: auto;
}
header{
    background-color: rgba(58,71,80,255);
    text-align: center;
}
header h1{
    font-family: 'roboto';
    color: #cef6fc;
    
}
header .contenedor{
    max-width: 720;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header .contenedor img{
    height: 80px;
    padding-right: 20px;
}
header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px ;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(2, 2, 7);
}
header nav a:hover{
    color:rgba(0,173,180,255);
}
.contenedorr{
    max-width: 1000px;
    margin: auto;
    margin: 10px;

    display: flex;
    flex-direction: column;

    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contenedorr img{
    align-items: center;
    padding-top: 0;
    max-height: 30vh;
    
}
.contenedorr h1{
    text-align: center;
    text-decoration: overline underline;
}
.contenedorr p{
    text-align: justify;
}
#preparacion p{
    margin-top: 10px;
    margin: 15px;
    text-align: center;
    
}

footer .contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #3a4750;
    color: white;
    padding-top: 5vh;
    padding-bottom: auto;
}
footer a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(0,0,0,0.8);
}
footer a:hover{
    color:rgba(0,173,180,255);
}
@media (min-width:720px){
    body{
        margin: 0px;
        padding-top: 35vh;
    }
    header{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        display:flex;
        flex-direction: row;
         height: auto;
         text-align: auto;
         justify-content: space-between;
         align-items: center;
         
    }
    header .contenedor{

        display: flex;
        flex-direction: row;
        align-items: center;
    
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    footer .contenedor{
        margin-bottom: 0;

    }
    .contenedor {
        margin-left: 25px;
        margin-right: 25px;
    }
}